h1 {
 font-family: Arial;
 font-size: 18pt;
}

#center {
 text-align: center; 
}

#col1 {
  max-width: 25%;
  float: left;
}

#col2 { 
  max-width: 75%;
  float: right;
}

h2 {
  font-family: Arial;
  font-size: 12pt;
  text-transform: uppercase;
  font-weight: bold;
}

h3 {
  font-family: Arial;
  font-size: 12pt;
  font-style: italic;
  font-weight: normal;
}

h4 {
  font-family: Arial;
  font-size: 11pt;
  font-weight: bold;
}
 p {
 font-family: Arial;
 font-size: 11pt;
 }
