h1 {
 font-family: Arial;
 font-size: 18pt;
}

#center {
 text-align: center; 
}

#col1 {
  max-width: 25%;
  float: left;
}

#col2 { 
  max-width: 75%;
  float: right;
}

h2 {
  font-family: Arial;
  font-size: 12pt;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0pt;
}

h3 {
  font-family: Arial;
  font-size: 12pt;
  font-style: italic;
  font-weight: normal;
  margin: 0pt;
}

h4 {
  font-family: Arial;
  font-size: 11pt;
  font-weight: bold;
  margin: 0pt;
}
 p, li, ul, ol {
 font-family: Arial;
 font-size: 11pt;
 margin-top: 0pt;
 }
