h1 {
 font-family: Arial;
 font-size: 18pt;
}

#noShow {
 color: black;
}

#center {
 text-align: center; 
}

#col1 {
  max-width: 25%;
  float: left;
}

#col2 { 
  max-width: 75%;
  float: right;
}

h2 {
  font-family: Arial;
  font-size: 12pt;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0pt;
}

h3 {
  font-family: Arial;
  font-size: 12pt;
  font-style: italic;
  font-weight: normal;
  margin: 0pt;
}

h4 {
  font-family: Arial;
  font-size: 11pt;
  font-weight: bold;
  margin: 0pt;
}
 p, li, ul, ol {
 font-family: Arial;
 font-size: 11pt;
 margin-top: 0pt;
 }


table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}


    .link {
        fill: none;
        stroke: #555;
        stroke-opacity: 0.4;
        stroke-width: 1px;
    }
    text {
        font-family: "Arial Black", Gadget, sans-serif;
        fill: black;
        font-weight: bold;
        font-size: 14px
    }

    .xAxis .tick text{
        fill: black;
    }
    .grid .tick line{
        stroke: grey;
        stroke-dasharray: 5, 10;
        opacity: 0.7;
    }
    .grid path{
        stroke-width: 0;
    }

    .node circle {
        fill: #999;
    }
    .node--internal circle {
        fill: #555;
    }
    .node--internal text {
        font-size: 14px;
        text-shadow: 0 2px 0 #fff, 0 -2px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff;
    }
    .ballG text {
        fill: white;
    }

    .shadow {
        -webkit-filter: drop-shadow( -1.5px -1.5px 1.5px #000 );
        filter: drop-shadow( -1.5px -1.5px 1.5px #000 );
    }
