<!DOCTYPE html>
<html>
    <head>
        <title>Madison Estabrook</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
<body>
    <div class='header'>
        <h1 class="title"> Madison Estabrook </h1>
        <ul class='navbar'>
            <li class='navbar'><a href="/">Home</a> </li>
            <li class='navbar'><a href="/projects">Projects</a></li>
            <li class='navbar'><a href="https://www.linkedin.com/in/madison-estabrook/">LinkedIn</a></li>
            <li class='navbar'><a href="https://github.com/madisonestabrook">GitHub</a></li>
        </ul>
    </div>
    <p>This page lists some of my projects.</p>
    {% for prj in Projects %}
        <h1><a href={{prj[1]}}>{{prj[0]}}</a></h1>
        <p>
            {{ prj[2] }}
        </p>
        <img src="static/images/{{prj[3]}}", alt="{{prj[4]}}">
    {% endfor %}
</body>
</html>